<div class="card" appCardHover>
  <!-- image -->
  <div class="image-wrapper">
    <img [src]="product.image" alt="product" class="product-image">
  </div>
  <!-- content -->
  <div class="card-content">
    <h3>{{ product.title }}</h3>
    <!-- desc -->
    <p class="description">
      {{ product.description | shorten:showFullDesc }}
      @if (!showFullDesc) {
        <span class="dots" (click)="toggleDesc()">...</span>
      } @else {
        <span class="dots" (click)="toggleDesc()"> (show less)</span>
      }
    </p>
    <!-- footer -->
    <div class="card-footer">
      <div class="price">${{ product.price }}</div>
      <app-button title="Buy Now" bgColor="#1a1a1a" (onClick)="addToCart()"></app-button>
    </div>
  </div>
</div>
