/* ================================ Global Styles START */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f5f7;
  margin: 0;
  color: #2d3748;
}

/* =========== Container & medias */
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}

/* Small Screens */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

/* Medium Screens */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

/* Large Screens */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

/* Xl Screens */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/* XXL Screens */
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
/* ================================ Global Styles END */
